# Environments
.env
.venv
ENV/
env.bak/
venv/
ENV/
env/
.venv
venv/
ENV/x86_64-unknown-linux-gnu/python3.8
venv/x86_64-unknown-linux-gnu/python3.8
venv-BPfqfT/
.Python
.pycache
__pypackages__/

.vscode/